.App {
  text-align: center;
  height: 100vh;
  width: 800px;
  margin: 0 auto;
  border: 1px solid tomato;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}


.App h1{
  padding: 20px 0;
}

form{
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.todo-input{
  height: 25px;
}
.filter-todo{
  height: 31px;
  margin: 0 10px;
}
.todo-list{
  list-style: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-item{
  margin: 0 10px;
}
.complete-btn{
  margin: 0 10px;
}


@media (max-width:600px) {
  .App{
    width: 90%;
    margin: 0 auto;
  }
}